figcaption{
font-size: 30%;
float: down;
}



button{
margin: 10px 4% 0px 4%;
width: 15%;
height: 50px;
font-size: 90%;
font-family: Garamond;
background-color: #990000;
color: white;
}

button:hover{
background-color: #000000;
}

h1{
text-align: center;
text-shadow: 3px 3px #990000;
font-family: Helvetica;
color: #000000;
animation-name: fadeIn;
animation-duration:2s;
}

ul{
font-family: Garamond;
}

h2{
text-align: left;
font-family: Helvetica;
color: #000000;
}

body{
background-color:#F5F0BF;
color: #990000;
}

p{
color: #990000;
font-family:Garamond;
}

#primary{
border: 4px dotted black;
border-height: 10px;
position: relative;
overflow: hidden;
}

@keyframes fadeIn{

0%{
opacity: 0;
}

100%{
opacity: 1;
}


}